<head th:fragment="head (title)">
	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.2.0.min.js" ></script>

	<!--  Bootstrap css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="icon" href="/favicon.ico" type="image/x-icon"/>


	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- Common css -->
	<link rel="stylesheet" th:href="@{/css/common.css}" />
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />

	<!-- responsive design -->
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

    <title th:text="${title}" />
</head>
