<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head (title='Registration')"></head>
  <body>
  	<nav th:replace="fragments/navbar :: nav (pagename='register')"></nav>
  		
  		<div class = "container">
  		
	  		<center>
	  		<h3> Register For Classes </h3>
	  		<br />
				<form method="get" th:action="@{/section/register}">
					
					<select class="form-control" name="dept">
						<option value=""> - Choose Department - </option>
						<option th:each="dept: ${allDepts}"
									th:text="${dept.deptName}" 
									th:value="${dept.deptId}"> Dept Name </option>
					</select>
					<br />
					<select class="form-control" name="term">
						<option value=""> - Choose Term - </option>
						<option th:each="term: ${termsOpenForReg}" th:value="${term.termId}">
							<span th:text="${term.termSemester}"></span> <span th:text="${term.termYear}"></span>
						</option>
					</select>
					<br />
					<button type="submit" class="btn btn-primary"> Submit </button>
				</form>
			</center>
			<br />
			<br />
			<div th:switch="${registered}" class="row">
            	<span th:case="true"><div th:replace ="fragments/alerts :: success (text='You\'ve successfully registered.')"></div></span> 
            	<span th:case="false"><div th:replace ="fragments/alerts :: danger (text='Registration error.')"></div></span> 
            	<span th:case="*"></span>
        	</div>
			
			<div th:each="courseToSections : ${courseToSectionsMap}">
				<h4>
				<span th:text="${deptAbbr}"></span> <span th:text="${courseToSections.key.courseNum}"></span> <span th:text="${courseToSections.key.courseName}"></span>
				</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th><b> Section Number </b></th>
							<th><b> Time </b></th>
							<th><b> Days </b></th>
							<th><b> Instructor </b></th>
							<th> Register </th>
						</tr>
					</thead>
					<tbody>
						
						<tr th:each="secRec : ${courseToSections.value}">
							<form method="post" th:action="@{/section/register(dept=${deptId}, term=${termId}, registered=${registered})}" th:object="${reg}">
							<td th:text="${secRec.section.sectionId}"></td>
							<td th:text="${secRec.section.sectionTime}"></td>
							<td th:text="${secRec.section.sectionDay}"></td>
							<td><span th:text="${secRec.user.lastName}"></span>, <span th:text="${secRec.user.firstName}"></span></td>
							<td><button class="btn btn-primary" type="submit"> Register </button></td>
							<input type="hidden" th:name="sectionId" th:value="${secRec.section.sectionId}" />
							</form>
						</tr>
						
					</tbody>
				</table>
			</div>
  		
  		</div>
  		
  
   	<footer th:replace="fragments/footer :: footer (pagename='register')"></footer>
  </body>
</html>