<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head (title='Final Grades')"></head>

<body>
  <nav th:replace="fragments/navbar :: nav (pagename='Final Grades')"></nav>
  <div th:if="${submitedFinalGrades}" class="row">
      <div th:replace="fragments/alerts :: success (text='Submitted Final Grades Succesful')"></div>
  </div>
  <div th:if="${error}" class="row">
      <div th:replace="fragments/alerts :: danger (text='Error Submitting Final Grade. Please Try Again')"></div>
  </div>
  <div class="container">
  <h1> Final Grades</h1>
</div>
  <div class="container">
<form method="GET" th:action="@{/grade/finalGrades}">
        <select aria-describedby="role-addon" class="form-control" name="sectionId" >
          <div th:each="course : ${courseWithSection}">
        <option th:each="section : ${course.value}"
                th:value="${section}"
                th:text="${course.key} + ' Section: ' +${section}">
              Course name</option>
            </div>
        </select>
        <br></br>
        <button type="submit" class="btn btn-primary">Choose Course</button>

</form>
      </div>
      <div class="container" th:if="${studentsList != null}">
          <div th:each="student : ${studentsList}">
            <div class="row">
              <h3><span th:text="${student.firstName}+' '+ ${student.lastName} +'     '"/></h3>
            <form  th:action="@{/grade/submitFinalGrades}" th:object="${finalGrade}" method="post" >
                  <input type="hidden" name="sectionId" th:value="${param.sectionId[0]}"/>
                  <input type="hidden" name="userId" th:value="${student.userId}"/>
                  <input type="text" name="finalGradeLetter" class="form-control" placeholder="Grade"/>
                  <button type="submit" class="btn btn-primary">Submit Grade</button>
            </form>

            </div>

          </div>

      </div>

</body>

</html>
